<h1>Listing cars</h1>

<table>
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>Year</th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.marka %></td>
      <td><%= car.model %></td>
      <td><%= car.autoYear %></td>
    </tr>
  <% end %>
</table>

<select >
  <% @cars.each do |car| %>
    <option value="<%= car.id %>" selected="selected"><%= car.marka %></option>
    <% end %>
</select>

<%= form_for :service, url: services_path do |f|%>
  <%= f.select("marka", @cars.collect{|p| [ p.marka ] }) %>
<% end %>
