<div class="content">
  <div class="form">
    <%= form_for :service, url: services_path do |form|%>
      <p>Інформація про авто</p>
      <p>
        <%= form.select :marka, options_for_select([["Audi"], ["Ford"]]. insert(0, "Марка")) %>
        <%= form.select :model, options_for_select([["100"], ["Focus"]]. insert(0, "Модель")) %>
        <%= form.select :auto_year, options_for_select([["2000"], ["2005"]]. insert(0, "Рік випуску")) %>
      </p>
      <p>Що потрібно ремонтувати</p>
        <%= form.text_area :text %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>
