<div class="service">
  <p class="service-title">
    <%= @service.name %>
      <% if @service.diler == true %>
        <span class="diler-center">Диллерський центр</span>
      <% end %>
  </p>
  <%= image_tag(@service.image, size: "200x250", class: "image-style") %>
  <div class = "service-attributes">
    <p>Інформація про сервіс:</p>
    <p>
      місто <%= @service.city %>
    </p>
    <p>
      вулиця <%= @service.address %>
    </p>
    <p><%= submit_tag 'Надіслати заявку на ремонт', class: 'btn btn-primary show_block-button'%></p>
    <p><%= link_to 'Повернутись до списку сервісів', services_path, class: 'btn show_block-button'%></p>
    </div>
  </div>
</div>
