<div class="admin_form">
  <%= form_for :autoservice, url: autoservices_path do |form| %>
  <% if @autoservice && @autoservice.errors.any? %>
    <p>
      <ul>
      <% @autoservice.errors.full_messages.each do |message| %>
        <li class="error_message"><%= message%></li>
      <% end%>
      </ul>
    </p>
  <% end %>

    <p>Інформація про автосервіс</p>
    <p>Назва автосервісу
    <%= form.text_field :name_service %></p>
    <p>Місце знаходження автосервісу
    <%= form.text_field :address %></p>
    <p><%= form.submit 'Send'%></p>
  <% end %>
</div>
