<div id="car_nav_bar">
  <ul>
    <li><%= link_to "Додати марку автомобіля",  new_brand_path %></li>
    <li><%= link_to "Додати модель автомобіля",  new_car_path %></li>
  </ul>
</div>

<table id="car_table">
  <tr>
    <th onclick="sortTable(0)">Id</th>
    <th onclick="sortTable(1)">Brand</th>
    <th>Edit  / Delete</th>
  </tr>
<%  @brands.each do |brand| %>
<tr>
  <td><%= brand.id %></td>
  <td><%= brand.brand %></td>
  <th><%= link_to "Edit", edit_brand_path(brand) %> |   <%= link_to "Delete",
        brand_path(brand), method: :delete, data: {confirm: 'Are you sure?' } %>
</tr>
<% end %>
</table>




<table>
<% @cars.each do |brand, cars|   %>
  <tr>
    <td><%= brand %></td>

      <% models = Array.new %>
      <% cars.each do |key, car| %>
        <% models.push(key["model"])  %>
      <% end %>
  <td><%= models.join(",  ") %></td>
  </tr>
<% end %>
</table>
