<div id="car_nav_bar">
  <ul>
    <li><%= link_to "Додати марку автомобіля",  new_brand_path %></li>
    <li><%= link_to "Додати модель автомобіля",  new_car_path %></li>
  </ul>
</div>

<table id="car_table">
      <tr>
        <th onclick="sort_car_table(0)">Brand</th>
        <th onclick="sort_car_table(1)">Model</th>
      </tr>
  <% @cars.each do |brand, cars| %>
    <tr>
      <td>
        <%= brand %>
      </td>
      <% models = Array.new %>
    <td>
      <% cars.each do |key| %>
      <div class="car_model">
        <div class="model_title">
          <%= key["model"]%>
        </div>
        <div class="td-caret tools_menu">
          <div class="dropdown pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle btn-xs-caret" data-toggle="dropdown"> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/cars/<%= key["id"] %>/edit">Редагувати</a></li>
              <li><a href="/cars/<%= key["id"] %>" data-confirm="Are you sure?" data-method="delete" >Видалити</a></li>
              <li><a href="/brands/<%= key["id_brand"] %>/edit">Редагувати назву авто</a></li>

            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </td>
  <% end %>
  </tr>
</table>
