<div id="car_nav_bar">
  <ul>
    <li><%= link_to "Додати марку автомобіля",  new_brand_path %></li>
    <li><%= link_to "Додати модель автомобіля",  new_car_path %></li>
  </ul>
</div>

  <table id="car_table">
    <tr>
      <th onclick="sortTable(0)">Brand</th>
      <th onclick="sortTable(1)">Model</th>
      <th>Edit  / Delete</th>
    </tr>

<% @cars.each do |brand, cars| %>
  <tr>
    <td><%= brand %></td>
    <% models = Array.new %>
    <% cars.each do |key| %>
      <% models.push(key["model"])  %>
      <%= (key["id_brand"])  %>

    <% end %>
  <td><%= models.join(", ") %></td>
  <th><%= link_to "Edit", edit_car_path(4) %> |   <%= link_to "Delete",
       method: :delete, data: {confirm: 'Are you sure?' } %></th>
<% end %>
</tr>
</table>
